---
import type { CollectionEntry } from "astro:content";
import { getPostUrl } from "@utils/url-utils";

import PostCard from "./PostCard.astro";

const { page } = Astro.props;

let delay = 0;
const interval = 50;
---
<div class="transition grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 rounded-[var(--radius-large)] bg-transparent md:bg-transparent mb-4">
    {page.data.map((entry: CollectionEntry<"posts">) => (
        <PostCard
                entry={entry}
                title={entry.data.title}
                tags={entry.data.tags}
                category={entry.data.category}
                published={entry.data.published}
                updated={entry.data.updated}
                url={getPostUrl(entry)}
                image={entry.data.image}
                description={entry.data.description}
                draft={entry.data.draft}
                class:list="onload-animation"
                style={`animation-delay: calc(var(--content-delay) + ${delay++ * interval}ms);`}
        ></PostCard>
    ))}
</div>